---
import Layout from "~layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
    return redirect("/dashboard");
}

export const prerender = false;
---

<Layout title="Sign in">
    <div class="mx-auto w-96">
        <div class="prose">
            <h1>Sign in</h1>
            <p>New here? <a href="/register">Create an account</a></p>
        </div>
        <form
            action="/api/auth/signin"
            method="post"
            class="flex flex-col gap-4"
        >
            <label for="email"> Email </label>
            <input type="email" name="email" id="email" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <button type="submit">Login</button>
        </form>
    </div>
</Layout>
