---
import EmailInput from "~components/forms/EmailInput.astro";
import PasswordInput from "~components/forms/PasswordInput.astro";
import Layout from "~layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
    return redirect("/dashboard");
}

export const prerender = false;
---

<Layout title="Sign in">
    <div class="mx-auto w-96">
        <div class="prose">
            <h1>Sign in</h1>
            <p>New here? <a href="/register">Create an account</a></p>
        </div>
        <form
            action="/api/auth/signin"
            method="post"
            class="flex flex-col gap-4"
            id="signin-form"
            data-validate
        >
            <EmailInput
                id="signin-email"
                name="email"
                label="Email"
                required={true}
            />
            <PasswordInput
                id="signin-password"
                name="password"
                label="Password"
                required={true}
                autocomplete="current-password"
            />
            <button type="submit" class="form-button" disabled>Login</button>
        </form>
    </div>
</Layout>

<script src="~components/forms/form-validation.ts"></script>
