---

type HeadingProps = {
    level?: "1" | "2" | "3" | "4" | "5" | "6";
};

const {
    level = "1",
} = Astro.props as HeadingProps;
---
{level === "1" && <h1><slot /></h1>}
{level === "2" && <h2><slot /></h2>}
{level === "3" && <h3><slot /></h3>}
{level === "4" && <h4><slot /></h4>}
{level === "5" && <h5><slot /></h5>}
{level === "6" && <h6><slot /></h6>}
