---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>Hello World</h1>

        <ul>
            <li><a href="/auth">auth</a></li>
            <li><a href="/btn-styler">btn-styler</a></li>
            <li><a href="/fuck-canva">fuck-canva</a></li>
            <li><a href="/old-0index">old-0index</a></li>
            <li><a href="/test-index.html">test-index.html</a></li>

            <li>
                <strong>Components:</strong>
                <ul>
                    <li>
                        <a href="/components/accordion-examples"
                            >accordion-examples</a>
                    </li>
                </ul>
            </li>

            <li>
                <strong>Visual:</strong>
                <ul>
                    <li><a href="/visual/conditionals">conditionals</a></li>
                    <li>
                        <a href="/visual/dom-manipulation">dom-manipulation</a>
                    </li>
                    <li><a href="/visual/functions">functions</a></li>
                    <li><a href="/visual/loops">loops</a></li>
                    <li><a href="/visual/promises">promises</a></li>

                    <li>
                        <strong>Browser APIs:</strong>
                        <ul>
                            <li>
                                <a
                                    href="/visual/browser-apis/intersection-observer"
                                    >intersection-observer</a>
                            </li>
                            <li>
                                <a href="/visual/browser-apis/pointer-events"
                                    >pointer-events</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <strong>Primitives:</strong>
                        <ul>
                            <li>
                                <a href="/visual/primitives/arrays">arrays</a>
                            </li>
                            <li>
                                <a href="/visual/primitives/numbers">numbers</a>
                            </li>
                            <li>
                                <a href="/visual/primitives/objects">objects</a>
                            </li>
                            <li>
                                <a href="/visual/primitives/strings">strings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>
