---
import Layout from "~layouts/Layout.astro";
---

<Layout pageTitle="Visual Cheatsheets">
    <div class="container mx-auto prose prose-sm py-8">
        <h1>Visual Cheatsheets</h1>
        <h4>Core Concepts:</h4>
        <ul>
            <li>
                <a href="/visual/core-concepts/conditionals">conditionals</a>
            </li>
            <li>
                <a href="/visual/core-concepts/dom-manipulation"
                    >dom-manipulation</a
                >
            </li>
            <li>
                <a href="/visual/core-concepts/functions">functions</a>
            </li>
            <li><a href="/visual/core-concepts/loops">loops</a></li>
            <li>
                <a href="/visual/core-concepts/promises">promises</a>
            </li>
            <li>
                <a href="/visual/core-concepts/variables">variables</a>
            </li>
        </ul>

        <h4>Browser APIs:</h4>
        <ul>
            <li>
                <a href="/visual/browser-apis/intersection-observer"
                    >intersection-observer</a
                >
            </li>
            <li>
                <a href="/visual/browser-apis/pointer-events">pointer-events</a>
            </li>
        </ul>
        <h4>Primitives:</h4>
        <ul>
            <li>
                <a href="/visual/primitives/arrays">arrays</a>
            </li>
            <li>
                <a href="/visual/primitives/numbers">numbers</a>
            </li>
            <li>
                <a href="/visual/primitives/objects">objects</a>
            </li>
            <li>
                <a href="/visual/primitives/strings">strings</a>
            </li>
        </ul>
    </div>
</Layout>
