---

---
<script>
    let count: number = 0;

    function updateCountDisplay() {
        const countDisplay = document.querySelector('.count');
        // we should put a null check on just in case
        countDisplay.innerHTML = count.toString();
    }

    document.querySelector('.increase')?.addEventListener('click', () => {
        count = count + 1;
        console.log('increase me!', count);
        updateCountDisplay();
    });

    document.querySelector('.decrease')?.addEventListener('click', () => {
        count = count - 1;
        console.log('decrease me!', count);
        updateCountDisplay();
    });
</script>

<div class="">
    <h2 class="count">0</h2>
    <button class="increase">Increase ++</button>
    <button class="decrease">Decrease --</button>
</div>
